# Ignore node_modules, as they should be installed inside the container
node_modules

# Ignore local development files and logs
npm-debug.log
.env
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore local results and screenshots, they are handled by volumes
/result
/screenshot
/storage 